@import 'constants';

.toggleButton {
  display: table;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 9999;
  left: 144px;
  top: 20px;
  color: $default_colour;
  border: 1px solid $default_colour;
  font-size: 8px;
  font-weight: 900;
  text-align: center;

  .toggleText {
    display: table-cell;
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 900px) {
    top: 35px;
    left: 55px;
  }
}

.flatUI .toggleButton {
  @include white-text(1, !important);
  border: 1px solid #fff;
}

body.flatUI {
  ._4rv6, ._4ce_ {
    filter: invert(1);
  }
  ._4rv6 {
    opacity: 0.5;
  }
  ._4ce_ {
    opacity: 0.6;
  }
}
