@import 'constants';

.toggleButton {
    display: table;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 9999;
    left: 50px;
    top: 14px;
    color: $default_colour;
    border: 1px solid $default_colour;
    font-size: 8px;
    font-weight: 900;
    text-align: center;

    .toggleText {
        display: table-cell;
        vertical-align: middle;
    }

    &:hover {
        cursor: pointer;
    }
}

.flatUI .toggleButton {
    @include white-text(1, !important);
    border: 1px solid #fff;
}
