@import 'constants';

body.flatUI {

    ._4sp8, ._4_j5, ._1ht1, ._5l37, ._4eby, ._2y8_, ._5t4c, _15gf, ._4rv3, ._haj, ._54aq {
        @include generic-transition(background);
        background-color: $sidebar_background !important;
    }

    ._1ht3._1ht1 {
        background-color: rgba(255, 255,255, 0.05) !important;
        @include generic-transition(background);
    }

    ._1ht1._1ht2, ._5742, ._36ic {
        @include generic-transition(background);
        background-color: $header_highlight !important;
    }

    ._hh7:active, ._hh7, ._haj, ._5i_d, ._nd_ ._hh7:active, ._hh7:active, ._nd_._-5k ._hh7, ._nd_ ._3058 {
        @include generic-transition(background);
        background-color: $transparent !important;
        border-color: $transparent !important;
    }

    ._5iwm ._58al, ._55sg ._kv1 input {
        @include generic-transition(background);
        background-color: $default_colour !important;
    }

    ._ih3, ._364g, ._3tl0, ._497p, ._2y8z, ._10w4, ._1ht7, ._3tkx, ._3tkz, ._kck,
    ._1pr_, .__rm+.uiInputLabelLabel, ._llq, ._36zg, ._58ak input, ._4rv3, ._3szq,
    ._4ebz, ._209g, ._1ht6, ::-webkit-input-placeholder, ._4rpj, ._2jnt, ._3eus, ._2jnv,
    ._kcm, ._kck ._58al, ._3x6u, ._4jgs, ._5rh4, ._14-7 ._58ah ._58al, ._1tqi, ._5743,
    ._2jnx, ._2jnz, ._2jnx ._58al, .__6k, .__6l, ._1n-e, ._4eb-, ._19jt, ._374c, ._1ps0,
    ._hh7 ._3oh-, ._5rw4, ._hh7 a, ._nd_ ._hh7 ._3oh-, ._225b, ._3oh-, ._3q34 {
        @include white-text(1, !important);
        @include generic-transition(color);
    }

    ._1q5- {
        @include generic-transition(border-color);
        border-left-color: rgba(0, 0, 0, .20) !important;
    }

    ._2v6o, ._1htf, ._3tky, ._1lj0, ._1ht3 ._1htf, ._1ht3 ._1ht6, ._1ht3 ._1ht7, ._5rp8 ._45m_, .__6m {
        @include white-text(0.7, !important);
        @include generic-transition(color);
    }

	._3q35, ._4g0h {
        @include white-text(0.4, !important);
        @include generic-transition(color);
    }

    .__6j {
        margin: 0;
    }

    ._3xn1 {
        margin-right: 12px !important;
    }

    .__6l {
        height: 16px !important;
    }

    ._5742 {
        position: relative;
        text-align: center !important;
    }

    ._1t_p {
        @include white-text(0.1, !important);
        padding-bottom: 15px;
        border-bottom: 1px solid;
    }

	._17pz {
		>._1t_p {
			border-bottom: 0px;
			padding-bottom: 0px;
		}
	}

    ._1t_s, ._41ud {
        margin-left: 12px;
        padding-left: 0px;
    }

	._ih3 {
		margin-left: 0px;
		padding-left: 0px;
	}

    ._ih3, ._ih3 ._3oh-, ._1ht6, ._1lj0, ._3eur ._3oh-, ._17w2 ._3oh-, ._55r {
        @include white-text(1, !important);
        font-weight: bold;
        font-size: 14px;
    }

    ._3058._52mr {
		padding: 0;
		max-width: 100%;
		border-bottom: 0px !important;

		&._ui9 {
			max-width: 85%;
		}
    }

    .__6j .__6k ._4ik4._4ik5 {
        line-height: normal !important;
        height: auto !important;
    }

    .__6j .__6l {
        display: none;
    }

    .__6j .__6m {
        margin-top: 0;
    }

    ._2poz._52mr._ui9._2n8h._2n8i > ._4tsk._52mr {
        display: inline-block
    }

    ._3058 ._mxz, ._3058 ._52mr {
        border-radius: 0 !important;
    }

    ._4sp8._li {
        background-color: $default_colour !important;
    }

    ._o46._3i_m ._3058, ._o46._3i_m ._3058._15gf ._2poz {
        @include white-text(1, !important);
        float: left;
    }

	._hh7._s1-._52mr._1fz8._1nqp, ._nd_ ._2n8i, ._3zvs {
		float: left;
	}

    ._hh7>span>a:hover {
        background: #6bc8c2;
    }

    ._1t_q ._1t_r, ._1t_q ._4ldz, ._1t_q ._4ld-, ._1t_q ._4ld- img {
        display: none;
        visibility: hidden;
    }

    ._3m31 {
        flex: 0 0 25% !important;
    }

    ._4ld- {
        width: 33px !important;
        height: 33px !important;
        @include generic-transition(all);
    }

    ._4ldz {
        width: 33px !important;
        height: 38px !important;
        @include generic-transition(all);
    }

    ._55lu, ._55lu._57pm {
        width: 18px !important;
        @include generic-transition(all);
    }

    ._55lu._57xo, ._55lu._57pl {
        width: 15px !important;
        @include generic-transition(all);
    }

    ._1ht6 {
        max-width: 220px;
    }

    ._1ht1 {
        height: 56px;
    }

    ._2j6 {
        bottom: 6px;
        right: 13px;
    }

    .uiScrollableAreaTrack {
        opacity: 1 !important;
    }

    a:focus {
        outline: 0 !important;
    }

    ._3i_m ._52mr._3oh-::before {
        content: "> ";
    }

    ._29_7 ._52mr._3oh-::before {
        content: "+ ";
    }

	._1mj0._2e-4._3oh- {
		color: $default_colour !important;

		&::before {
			content: "";
		}
	}

    ._4rv3 {
        border-bottom: 1px solid $sidebar_background;
    }

    ._4a0v._4a0x {
        float: right;
    }

    @media screen and (max-width: 639px) {
        ._2il3 {
            padding-left: 21px;
        }
    }
}
