@import "constants";

body.flatUI {
    ._4_j4 {
        @include generic-transition(background);
        background-color: $chat_background !important;
    }

    ._4sp8,
    ._4_j5,
    ._1ht1,
    ._5l37,
    ._4eby,
    ._2y8_,
    ._5t4c,
    ._haj,
    ._54aq,
    ._85nf,
    ._5r8m,
    ._4pi8 {
        @include generic-transition(background);
        background-color: $sidebar_background !important;
    }

    ._1ht3._1ht1 {
        @include generic-transition(background);
        background-color: $unread_highlight !important;
    }

    ._5742,
    ._36ic {
        @include generic-transition(background);
        background-color: $header_highlight !important;
    }

    ._1ht1._1ht2,
    ._1uwx {
        @include generic-transition(background);
        background-color: $active_highlight !important;
        &._1uwz {
            background-color: $muted_highlight !important;
        }
    }

    ._1ht1._569x {
        @include generic-transition(background);
        background-color: $muted_highlight !important;
        ._1htf {
            visibility: hidden;

            &::before {
                visibility: visible;
                content: "This chat is muted.";
            }
        }
    }

    ._4rv3,
    ._5irm._7mkm,
    ._7t1o {
        @include generic-transition(background);
        background-color: $message_box_background !important;
    }

    ._hh7:active,
    ._hh7,
    ._haj,
    ._5i_d,
    ._nd_ ._hh7:active,
    ._hh7:active,
    ._nd_._-5k ._hh7,
    ._nd_ ._3058,
    ._1ht1._1ht2 ._6zkc,
    ._3egs,
    ._3mtr ._4qcs {
        @include generic-transition(background);
        background-color: $transparent !important;
        border-color: $transparent !important;
    }

    ._43by._43by {
        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    }

    ._5iwm ._58al,
    ._55sg ._kv1 input,
    ._33p7,
    ._2pgc {
        @include generic-transition(background);
        background-color: $search_background !important;
    }

    ._ih3,
    ._364g,
    ._3tl0,
    ._497p,
    ._2y8z,
    ._10w4,
    ._1ht7,
    ._3tkx,
    ._3tkz,
    ._kck,
    ._1pr_,
    .__rm + .uiInputLabelLabel,
    ._llq,
    ._36zg,
    ._58ak input,
    ._4rv3,
    ._3szq,
    ._4ebz,
    ._209g,
    ._1ht6,
    ::-webkit-input-placeholder,
    ._4rpj,
    ._2jnt,
    ._3eus,
    ._2jnv,
    ._kcm,
    ._kck ._58al,
    ._3x6u,
    ._4jgs,
    ._5rh4,
    ._14-7 ._58ah ._58al,
    ._1tqi,
    ._5743,
    ._2jnx,
    ._2jnz,
    ._2jnx ._58al,
    .__6k,
    .__6l,
    ._1n-e,
    ._4eb-,
    ._19jt,
    ._374c,
    ._1ps0,
    ._hh7 ._3oh-,
    ._5rw4,
    ._hh7 a,
    ._nd_ ._hh7 ._3oh-,
    ._225b,
    ._3oh-,
    ._3q34,
    ._364g,
    ._2620,
    ._4u4_ > h3,
    ._3oh- a,
    ._6-xo,
    ._8slc,
    ._3jv8 {
        @include white-text(1, !important);
        @include generic-transition(color);
    }

    ._1q5- {
        @include generic-transition(border-color);
        border-left-color: rgba(0, 0, 0, 0.2) !important;
    }

    ._2v6o,
    ._1htf,
    ._3tky,
    ._1lj0,
    ._1ht3 ._1htf,
    ._1ht3 ._1ht6,
    ._1ht3 ._1ht7,
    ._5rp8 ._45m_,
    .__6m,
    ._3q35,
    ._5qsj,
    ._7s4e,
    ._6zkf,
    ._6zkh {
        @include white-text(0.7, !important);
        @include generic-transition(color);
    }

    ._7u0a {
        @include white-text(1, !important);
        font-weight: bold;
    }

    ._4g0h {
        @include white-text(0.4, !important);
        @include generic-transition(color);
    }

    ._4gd0 {
        background: none;
    }

    .__6j {
        margin: 0;
    }

    ._3xn1 {
        margin-right: 12px !important;
    }

    .__6l {
        height: 16px !important;
    }

    ._5742 {
        position: relative;
        text-align: center !important;
    }

    ._1t_p {
        @include white-text(0.1, !important);
        padding-bottom: 15px;
        border-bottom: 1px solid;
    }

    ._17pz {
        > ._1t_p {
            border-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    ._1t_s,
    ._41ud {
        margin-left: 12px;
        padding-left: 0px;
    }

    ._ih3 {
        margin-left: 0px;
        padding-left: 0px;
    }

    &:not(.ircMode) {
        ._ih3 {
            margin-bottom: 6px;

            &._-ne {
                height: inherit !important;
                opacity: inherit !important;
            }

            &.accessible_elem {
                height: inherit !important;
                width: inherit !important;
                position: inherit !important;
            }
        }
    }

    ._ih3,
    ._ih3 ._3oh-,
    ._1ht6,
    ._1lj0,
    ._3eur ._3oh-,
    ._17w2 ._3oh-,
    ._55r {
        @include white-text(1, !important);
        font-weight: bold;
        font-size: 14px;
    }

    ._3058._52mr {
        padding: 0;
        max-width: 100%;
        border-bottom: 0px !important;

        &._ui9 {
            max-width: 85%;
        }
    }

    .__6j .__6k ._4ik4._4ik5,
    ._3szq {
        line-height: normal !important;
        height: auto !important;
    }

    .__6j .__6l {
        display: none;
    }

    .__6j .__6m {
        margin-top: 0;
    }

    ._2poz._52mr._ui9._2n8h._2n8i > ._4tsk._52mr {
        display: inline-block;
    }

    // images and preview cards
    ._3058 ._mxz,
    ._3058 ._52mr,
    ._29_7 ._5i_d ._3xn1 {
        border-radius: 8px !important;
    }

    ._4sp8._li {
        background-color: $default_colour !important;
    }

    ._o46._3i_m ._3058,
    ._o46._3i_m ._3058._15gf ._2poz {
        @include white-text(1, !important);
        float: left !important;
    }

    ._hh7._s1-._52mr._1fz8._1nqp,
    ._nd_ ._2n8i,
    ._3zvs {
        float: left !important;
    }

    ._hh7 > span > a:hover {
        background: #6bc8c2;
    }

    ._1t_q ._1t_r,
    ._1t_q ._4ldz,
    ._1t_q ._4ld-,
    ._1t_q ._4ld- img,
    ._1t_q {
        display: none;
        visibility: hidden;
    }

    ._3m31 {
        flex: 0 0 25% !important;
    }

    ._4ld- {
        width: 33px !important;
        height: 33px !important;
        margin: 0 auto;
        @include generic-transition(all);
    }

    ._4ldz {
        width: 33px !important;
        height: 33px !important;
        @include generic-transition(all);
    }

    ._55lu,
    ._55lu._57pm {
        width: 18px !important;
        @include generic-transition(all);
    }

    ._55lu._57xo,
    ._55lu._57pl {
        width: 15px !important;
        @include generic-transition(all);
    }

    ._1ht6 {
        max-width: 220px;
    }

    .uiScrollableAreaTrack {
        opacity: 1 !important;
    }

    a:focus {
        outline: 0 !important;
    }

    a._52mr._2q1l {
        background: transparent;
        margin-left: 13px;
        margin-bottom: 6px;
    }

    ._1mj0._2e-4._3oh- {
        color: $default_colour !important;

        &::before {
            content: "";
        }
    }

    ._4a0v._4a0x,
    ._hh7._aol ._aok {
        float: right;
        padding: 0;
    }

    ._wu0 {
        color: white;
        border-color: transparent;
        background-color: transparent;
    }

    ._2f5n._4br2._29ew {
        display: none;
        visibility: hidden;
    }

    ._4kf7.preview {
        bottom: -13px;
        right: -26px;
    }

    .fbNubFlyoutAttachments {
        display: none !important;
    }

    ._3mts .uiScrollableArea.contentAfter:after,
    ._5r8l .uiScrollableArea.contentAfter:after {
        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(49, 49, 49, 0.7) 100%) !important;
    }

    ._kmc._7kpg ._1p1t,
    ._87b_,
    ._7ht_ {
        color: rgba(255, 255, 255, 0.4);
        -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
    }

    ._4k7a,
    ._4ik5._4ik4,
    ._pre._pyf {
        color: rgba(255, 255, 255, 0.7);
    }

    ._6-xp {
        background-color: rgba(255, 255, 255, 0.2);
    }

    ._1z_2._2u_d._7i2j {
        svg {
            path {
                fill: white;
            }
        }
    }

    path {
        &#Fill-1,
        &#Fill-2,
        &#Fill-24,
        &#Fill-23,
        &#Fill-19 {
            fill: white;
        }
    }

    ._87u_ {
        display: flex;
    }

    // reactions
    ._8rnv {
        right: -30px;
        bottom: -18px;
    }

    // replies
    ._hh7 ._pye ._pyf {
        background-color: rgba(255, 255, 255, 0.7);
    }

    // image container
    ._3zvs {
        max-width: 100%;
        width: 100%;
    }

    rect._8rsr {
        fill: $chat_background !important;
    }

    @media screen and (max-width: 900px) {
        ._6zkb {
            justify-content: center;
        }

        ._2il3 {
            padding-left: 0px;
            padding-right: 0px;
        }

        ._1ht1 ._1qt3 {
            margin-right: 0px;
        }
        
        ._87u_ {
            &._7sta._7stb {
                display: none;
            }
        }
    }
}
